# -*- coding: utf-8 -*-
"""
Created on Thu Jun 22 17:05:40 2023

@author: Imanethepe
"""

{% extends parent_template|default:"collection/base_collection.html" %}


{% block title %}
{{ block.super }} - Delete Link
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ newslink.get_delete_url }}"
          method="post">
        {% csrf_token %} 
        <p>
        Are you sure you want to Delete
        Link {{ newslink.name }}?
        </p>
        <a href="{{ newslink.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Link</button>
      </form>
    </div>
  </div> 
{% endblock %}