# -*- coding: utf-8 -*-
"""
Created on Thu Jun 22 17:03:14 2023

@author: Imanethepe
"""

{% extends parent_template|default:"collection/base_collection.html" %}

{% block title %}
{{ block.super }} - Update Link of Article to Poem
{% endblock %}

{% block content %}
  <div>
    <div> 
      <form
          action="{% url 'collection_newslink_update' %}"
          method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">
            Update Link of Article</button>
     </form>
   </div>
 </div>  
{% endblock %}