# -*- coding: utf-8 -*-
"""
Created on Thu Jun 22 17:00:46 2023

@author: Imanethepe
"""

{% extends parent_template|default:"collection/base_collection.html" %}

{% block title %}
{{ block.super }} - Link News Article to Poem
{% endblock %}

{% block content %}
  <div>
    <div> 
      <form
          action="{% url 'collection_newslink_create' %}"
          method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">
            Link Article</button>
     </form>
   </div>
 </div>  
{% endblock %}
