# -*- coding: utf-8 -*-
"""
Created on Sun Jun 18 15:02:27 2023

@author: Imanethepe
"""
{% extends parent_template|default:"collection/base_collection.html" %} 

{% block title %}
{{ block.super }} - {{ poem.name|title }}
{% endblock %}

{% block content %}
<article>

  <h2>{{ poem.name|title }}-{{ poem.author|title }}</h2>
  <dl>
    <dt>Publication Date</dt>
      <dd>{{ poem.founded_date|date:"F jS, Y" }}</dd>
      
    <dt>Tag{{ poem.tags.count|pluralize }}</dt>
      {% for tag in poem.tags.all %}
      <dd><a href="{{ tag.get_absolute_url }}">
        {{ tag.name|title }}
      </a></dd>
    {% endfor %}
  
  </dl>
  
  {{ poem.description|linebreaks }}
  
  <ul>
     <li>
       <a href="{{ poem.get_update_url }}">
         Update Poem</a></li>
     <li>
       <a href="{{ poem.get_delete_url }}">
         Delete Poem</a></li>
    <li>
        <a href="{{ poem.get_contact_url }}">
         Send Poem</a></li>
  </ul>
  
      {% if poem.newslink_set.all %}
         <section>
           <h3>Recent News</h3>
           <ul>
             {% for newslink in poem.newslink_set.all %}
              <li>
                <a href="{{ newslink.link}}">
                  {{ newslink.title|title }}</a>
              </li>
             <ul>
               <li>
                  <a href="{{ newslink.get_update_url }}">
                    Update Link</a></li>
               <li>
                  <a href="{{ newslink.get_delete_url }}">
                    Delete Link</a></li>
             </ul>
             {% endfor %}
         </ul>
       </section>
     {% endif %}
     <p>
       <a href="{% url 'collection_newslink_create' %}">
         Add Article</a>
     </p>
     
     {% if poem.blog_posts.all %}
         <section>
          <h3>Blog Post{{ poem.blog_posts.all|pluralize }}</h3>
          <ul>
            {% for post in poem.blog_posts.all %}
             <li>
               <a href="{{ post.get_absolute_url }}">
                 {{ post.title|title }}</a>
             </li>
            {% endfor %}
         </ul>
        </section>
     {% endif %}
 
 </article>
{% endblock %}
