# -*- coding: utf-8 -*-
"""
Created on Thu Jun 22 16:42:45 2023

@author: Imanethepe
"""

{% extends parent_template|default:"collection/base_collection.html" %}


{% block title %}
{{ block.super }} - Delete Poem
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ poem.get_delete_url }}"
          method="post">
        {% csrf_token %} 
        <p>
        Are you sure you want to Delete
        Poem {{ poem.name }}?
        </p>
        <a href="{{ poem.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Poem</button>
      </form>
    </div>
  </div> 
{% endblock %}