# -*- coding: utf-8 -*-
"""
Created on Thu Jun 22 16:36:55 2023

@author: Imanethepe
"""

{% extends parent_template|default:"collection/base_collection.html" %}

{% block title %}
{{ block.super }} - Write Poem
{% endblock %}

{% block content %}
  <div>
    <div> 
      <form
          action="{% url 'collection_poem_write' %}"
          method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">
            New Poem</button>
     </form>
   </div>
 </div>  
{% endblock %}