# -*- coding: utf-8 -*-
"""
Created on Sun Jun 18 15:01:31 2023

@author: Imanethepe
"""

{% extends parent_template|default:"collection/base_collection.html" %} 

{% block title %}
{{ block.super }} - Poems
{% endblock %}

{% block content %}
 
  <div>
    <a href="% url 'organizer_poem_write' %">
      Add New Poem</a>
  </div>

 <ul>
   {% for poem in poem_list %}
    <li>
      <a href="{{ poem.get_absolute_url }}">
        {{ poem.name }}</a>
      <ul>
        <li>
           <a href="{{ poem.get_update_url }}">
             Update Poem</a></li>
        <li>
           <a href="{{ poem.get_delete_url }}">
             Delete Poem</a></li>
      </ul>  
    </li>
   {% empty %}
     <li><em>No Poem Available</em></li>
   {% endfor %}
 </ul>
{% endblock %}