# -*- coding: utf-8 -*-
"""
Created on Tue Jun 20 14:56:54 2023

@author: Nathalie
"""

{% extends parent_template|default:"collection/base_collection.html" %}

{% block title %}
{{ block.super }} - Create Tag
{% endblock %}

{% block content %}
  <div>
    <div> 
      <form
          action="{% url 'organizer_tag_create' %}"
          method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">
            Create Tag</button>
     </form>
   </div>
 </div>  
{% endblock %}